.page {
    display: flex;
    flex-direction: 'col';
    background: '#E4E4E4';
    color: aliceblue;
}
.section {
    margin: 10;
    padding: 10;
    flex-grow: 1;
    color: aliceblue;
}
.student_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0px;
}